*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_04-01-2024_09_45_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_04-01-2024_09_45_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_04-01-2024_09_32_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_04-01-2024_09_55_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_04-01-2024_09_57_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_04-01-2024_09_45__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_04-01-2024_09_45__Changes_1.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_04-01-2024_09_32__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_04-01-2024_09_55__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_04-01-2024_09_57__Changes_.xml
/.idea/vcs.xml
